Reset css
html,
body,
h1, h2, h3, h4, h5, h6,
p, a, span, div {
    margin: 0;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    /* font-size: 16px; */
    height: 100%;
    overflow: hidden;
}

body {
    background: linear-gradient(to bottom, rgba(59, 20, 59, 0.2) 15%, #c2c2c2);
}

/* Navbar container */
.navbar {
    background: linear-gradient(to top, #dedede, white);
    padding: 0px 150px;
    box-shadow: 0 1px 10px grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.navbar a img {
    vertical-align: middle;
    padding: 8px 0;
    width: 35px;
}
  
  
/* Dropdown button */
.dropdown .dropbtn {
    font-size: 14px; 
    border: none;
    outline: none;
    color: rgb(70, 70, 70);
    padding: 14px 10px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
  
.dropdown:hover .dropbtn {
    background-color: #fff;
}
  
  /* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 151px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

  
.cart-summary {
    position: relative;
    top: 15px;
}
  
  /* Links inside the dropdown */
.dropdown-content .product {
    overflow: auto;
    color: black;
    padding: 4px 4px;
    position: relative;
    border-bottom: 1px solid rgb(56, 56, 56, 0.1);
}
  
.product.cart-info {
    font-weight: bolder;
    padding: 8px;
}
  
.dropdown-content .product img {
    width: 100px;
    padding: 2px;
    vertical-align: middle;
}

.dropdown-content .product .product-title {
    position: relative;
    width: 191px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    padding-left: 4px;
}

.product-price {
    float: right;
    padding: 16px 8px 12px 50px;
    position: relative;
    font-size: 14px;
    color: rgb(56, 56, 56, 0.8);
}

.remove {
    position: absolute;
    left: 112px;
    top: 38px;
    font-size: 12px;
    color: gray;
    display: none;
    text-decoration: underline;
    padding-left: 4px;
}

.dropdown:hover {
    border-left: 1px solid rgba(10, 10, 10, 0.1);
    border-right: 1px solid rgba(10, 10, 10, 0.1);
}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content, .dropdown-content .product:hover .remove {
    display: block;
}

.wrapper {
    padding: 30px 150px;
}

.banner {
    position: relative;
    padding: 0 0 15px;
}

.banner p {
    font-weight: bold;
    padding: 15px 0;
}

.banner img {
    width:100%;
    height:100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.row {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 18%;
}

.card {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    overflow: auto;
    background: rgb(235, 234, 234);
    height: 180px;
    position: relative;
}

.fade {
    opacity: 0.4;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 8px;
}

.product-title {
    font-size: 14px;
    font-weight: bold;
    color: rgb(70, 70, 70);
}

.container p {
    position: absolute;
    bottom: 0;
    right: 4px;
}

.btn {
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 6px 2px;
    border-radius: 4px;
}

.btn-label { background-color: #00905e; }

.btn-add {
    background-color: transparent;
    border: 1px solid #aaa;
    color: #aaa;
    box-shadow: 0 1px 0.1px rgba(10, 10, 10, 0.1);
}

.btn-clear {
    background: linear-gradient(to top, rgb(123, 9, 168), rgb(233, 125, 247));
    padding: 12px 24px;
    margin-left: 10px;
}

.btn-secret {
    position: absolute;
    top: 50%;
    left: 30%;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    padding: 12px 14px;
    background: linear-gradient(to top, #00905e, #31e6a6);
    z-index: -1;
}

.hide {
    display: none;
}